.oneProduct .product {
    width: 100%;
}
.oneProduct .product img {
    width: 100%;
    height: 314px;
}


@media screen and (max-width: 1500px) {
    .oneProduct .product img {
        height: 334px;
    }
}