.categoryBoxes {
    padding: 10px;
    border: 1px solid #EAEAEA;
    box-shadow: 1px 1px 1px 0px #EAEAEA;
    border-radius: 6px;
}

.prdList .product {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: wrap column;
    margin: 5px;
    width: 47%;
}

.prdList {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: wrap row;
}

.categoryBoxes {
    width: 29%;
    margin: 1% 1%;
}

.categoryBoxes h3 {
    font-size: 23px;
    font-weight: 500;
    margin: 0 0 20px 0;
    min-height: 50px;
}

.product p {
    text-align: center;
    font-size: 12px;
    width: 100%;
}

.categoryBoxes button {
    width: auto;
    font-size: 12px;
    min-height: 28px;
    font-weight: 600;
}

.product img {
    width: 175px;
}

.fourCategoryProduct {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin: auto;
    flex-flow: wrap row;
}

.categoryBoxes.oneProduct .product {
    margin: 0;
}
.categoryBoxes.oneProduct button {
    margin-top: 20px;
}

@media screen and (max-width: 1300px) {
    .product {
        width: 44%;
        margin: 0 2% 2% 2%;
    }

    .product img {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .categoryBoxes h3 {
        font-size: 18px;
    }

    .oneProduct .product img {
        min-height: 305px;
    }
}

@media screen and (max-width: 1100px) {
    .categoryBoxes {
        width: 25%;
    }
}

@media screen and (max-width: 767px) {
    .categoryBoxes {
        width: 42%;
    }

    .categoryBoxes h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 567px) {
    .categoryBoxes {
        width: 90%;
    }

    .categoryBoxes h3 {
        min-height: auto;
    }
}