.cookieNotification {
    background-color: #FCCA7F;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap row;
    transition: all 0.5s ease-in-out;
    transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
    -moz-transform: translate(0%, 100%);
}

.cookieNotification.active {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
}

.cookieNotification .left {
    width: 50%;
    padding: 15px;
    background: transparent;
    min-height: auto;
    max-height: max-content;
}

.cookieNotification .left h4 {
    margin: 0;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
}
.cookieNotification .left p {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.cookieNotification .left p a {
    font-weight: 600;
    cursor: pointer;
    color: #333;
}

.cookieNotification .right {
    padding: 0;
    width: 50%;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: wrap row;
}

.cookieNotification .right button {
    border-radius: 0;
    width: 21%;
    margin: 0 2%;
}

.cookieNotification .right button.manageCookie {
    background: transparent;
}

.cookieNotification .right button.manageCookie:hover,
.cookieNotification .right button.manageCookie:focus,
.cookieNotification .right button.manageCookie:focus-within,
.cookieNotification .right button.manageCookie:focus-visible {
    background: #fff;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.cookieNotification .right button.acceptAllookie {
    background: #fff;
}

.cookieNotification .right button.acceptAllookie:hover,
.cookieNotification .right button.acceptAllookie:focus,
.cookieNotification .right button.acceptAllookie:focus-within,
.cookieNotification .right button.acceptAllookie:focus-visible {
    background: #FCCA7F;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
