.categoryModal .modalContent {
    flex-flow: wrap column;
}

.categoryModal .allCategory {
    width: auto;
    margin: 0;
}

.categoryModal .allCategory {
    width: 100%;
}

.categoryModal .allCategory h3 {
    text-align: left;
}

.categoryModal .allCategory h3:before {
    width: 15%;
}

.categoryModal .categoryList {
    height: 63vh;
    overflow: auto;
}

.categoryModal .categoryList > div {
    margin-bottom: 20px;
    width: 14%;
    margin-right: 5%;
}