
.coupens {
    width: 100%;
}

.coupens h3 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.coupens .coupensList {
    width: 100%;
}

.coupens .coupensList .availableCoupen {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #D6D6D6;
    border-radius: 7px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    flex-flow: wrap row;
    position: relative;
    box-sizing: border-box;
}

.copySelection {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFB545;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupens .coupensList .availableCoupen h4 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    width: 100%;
}

.coupens .coupensList .availableCoupen p {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}

.coupens .coupensList .availableCoupen ul {
    flex-flow: wrap column;
    justify-content: flex-start;
    width: 100%;
    padding-left: 10px;
}

.coupens .coupensList .availableCoupen ul li {
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    position: relative;
    padding-left: 20px;
}

.coupens .coupensList .availableCoupen ul li:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #000;
    left: 0;
    position: absolute;

}

.coupens .coupensList .availableCoupen p.validity {
    font-size: 14px;
    font-weight: 400;
    color: #008224;
    margin: 10px 0 0 0;
}

.coupens .coupensList .availableCoupen p.selectedCopiedMessage {
    position: absolute;
    top: 14px;
    right: 34px;
    width: auto;
    border-radius: 8px;
    background-color: #FFB545;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .coupens h3 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 767px) {
    .coupens h3 {
        font-size: 18px;
    }
}