.cartWrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.cartWrapper .leftCartItems {
    width: 70%;
    margin-right: 2%;
    background-color: #F6F6F6;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
}

.cartWrapper .rightCartItems {
    width: 28%;
}

.cartWrapper .rightCartItems .rightCartUpItems {
    width: 100%;
    background-color: #F6F6F6;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.tabs-buttons {
    border-bottom: 4px solid #e7e7e7;
}

.cartProductList {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #D6D6D6;
    border-radius: 7px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    flex-flow: wrap row;
    position: relative;
}

.cartProductList .leftcartListItem {
    width: 100px;
    margin-right: 10px;
}

.cartProductList .leftcartListItem img {
    width: 100px;
    height: 100px;
}

.cartProductList .rightcartListItem {
    width: calc(100% - 110px);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.rightCartInnerLeftItems {
    width: 75%;
}

.rightCartInnerRightItems {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cartProductList .rightcartListItem .rightCartInnerLeftItems h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    width: 70%;
}

.cartProductList .rightcartListItem .rightCartInnerLeftItems .star {
    cursor: pointer;
    font-size: 18px;
    margin: 0px;
}
.cartProductList .rightcartListItem .rightCartInnerLeftItems .priceSection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.cartProductList .rightcartListItem .rightCartInnerLeftItems .priceSection p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 0;
}

.cartProductList .rightcartListItem .rightCartInnerLeftItems .priceSection p.original {
    text-decoration: line-through;
}

.cartProductList .rightcartListItem .rightCartInnerLeftItems .priceSection p.discount {
    margin-right: 10px;
}

.productSizes {
    font-size: 15px;
    font-weight: 400;
    color: #008224;
}

.cartActionItems {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartActionItems .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FFB545;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 7px;
}

.rightCartInnerRightItems .cartInputBox {
    width: 135px;
    border: 1px solid #e4e4e4;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    min-height: 35px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .rightCartInnerRightItems .cartInputBox.disabled {
    display: none;
  }
  
  .rightCartInnerRightItems .cartInputBox input {
    border: 0;
    width: 50px;
    text-align: center;
  }
  
  .rightCartInnerRightItems .cartInputBox input::-webkit-outer-spin-button,
  .rightCartInnerRightItems .cartInputBox input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .rightCartInnerRightItems .cartInputBox input:focus {
    outline: none;
  }
  
.rightCartInnerRightItems .cartInputBox .increase,
.rightCartInnerRightItems .cartInputBox .decrease {
    cursor: pointer;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    width: 20px;
    text-align: center;
  }
  

.rightCartItems h3 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}


.commitment {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(252 202 127 / 21%);
    width: 100%;
  }
  
  .commitment h4 {
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 500;
  }
  
  .commitment ul {
    flex-flow: wrap column;
    justify-content: flex-start;
  }
  
  .commitment ul li {
    font-size: 13px;
    font-weight: 400;
    color: #515151;
    position: relative;
    width: 100%;
    padding-left: 20px;
    margin: 0;
  }
  
  .commitment ul li:before {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #515151;
    position: absolute;
    top: 10px;
    left: 0;
  }
  
  .availableOffers {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f6f6f6;
    width: 100%;
  }
  
  .availableOffers h4 {
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 500;
  }
  
  .availableOffers ul {
    flex-flow: wrap column;
    justify-content: flex-start;
  }
  
  .availableOffers ul li {
    font-size: 13px;
    font-weight: 400;
    color: #515151;
    position: relative;
    width: 100%;
    padding-left: 20px;
    margin: 0;
  }
  
  .availableOffers ul li:before {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #515151;
    position: absolute;
    top: 10px;
    left: 0;
  }
  

.orderPriceBox {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #D6D6D6;
    border-radius: 7px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 10px;
    flex-flow: wrap column;
    position: relative;
}

.orderPriceBox .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.orderPriceBox .list.final {
    border-top: 1px solid #D9D9D9;
}

.orderPriceBox .list.final h4 {
    margin: 0;
    font-size: 20px;
}

.orderPriceBox .list p {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 500;
}

.orderPriceBox .list span {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.applyPromoSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.applyPromoSection input {
    padding: 10px 80px 10px 10px;
    background-color: #fff;
    border: 1px solid #D6D6D6;
    border-radius: 7px;
    height: 50px;
    width: 100%;
}

.applyPromoSection input:focus {
    outline: none;
}

.applyPromoSection button {
    border-radius: 7px;
    width: 73px;
    height: 50px;
    position: absolute;
    right: 0;
    font-size: 16px;
    padding: 0;
}

.cartWrapper .rightCartItems .rightCartUpItems .availablePromo {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    margin: 5px 0 0 0;
    color: green;
    cursor: pointer;
    outline: none;
}

.rightCartItems .continue {
    margin: 20px 0;
}

.emptyCart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-content.productDescription .emptyCart p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

/* address */

.userAddresses {
    width: 100%;
    margin-bottom: 20px;
}

.userAddresses h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.addAddress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addAddress button {
    height: 50px;
    border: 1px solid #E4E4E4;
    background-color: #F3F3F3;
    text-transform: uppercase;
    max-width: 166px;
    font-size: 18px;
}

.addAddress button:hover,
.addAddress button:focus {
    background-color: #ede9e9;
}

.userAddresses .addressList ul li .action p.default {
    color: #ffb545;
}

.ManageAllAddress {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: wrap row;
}

.ManageAllAddress .addressList {
    width: 48%;
    margin-right: 2%;
}

.ManageAllAddress .addressList li {
    width: 100%;
    margin-right: 0;
}

.userAddresses .active,
.addressList .active {
    border: 1px solid #ffb545;
}

.cartWrapper .leftCartItems .tabs-buttons {
    justify-content: space-between;
    display: flex;
}

.cartWrapper .tabs-buttons button:disabled {
    cursor: not-allowed;
}

.rightCartItems .continue .cartError {
    font-size: 13px;
    font-weight: 400;
    color: #f00;
    margin-top: 10px;
}

.paymentOption {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: wrap column;
    margin: 10px 0;
}

.paymentOption li {
    margin: 10px 0;
}

.dicountMessage {
    font-size: 14px;
    color: #008224;
}

.productDetailReview .tab-content.productDescription {
    width: 97%;
    padding: 0;
    border: 0;
}

.tab-content.productDescription.emptyCart {
    background: transparent;
    border: 0;
    border-radius: 0;
}

.productDetailReview .tab-content {
    border: 0;
}

.cartWrapper .tabs-buttons button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #333;
    width: 20%;
    min-height: 35px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    position: relative;
}

/* Active tab button styling */
.tabs-buttons button:before {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 90%;
    height: 3px;
    margin: 0 auto;
    left: 15px;
}  

.cartWrapper .tabs-buttons button.active:before {
    background-color: #fbb540;
}

.cartWrapper .tabs-content {
    margin: 20px 0;
}

.addressList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0 20px 0;
}

.addressList ul {
    width: 100%;
    align-items: flex-start;
    flex-flow: wrap row;
}
.addressList ul li {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 47%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: wrap column;
    margin: 0 20px 15px 0;
    background-color: #fff;
}

.addressList ul li h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.addressList ul li p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin: 5px 0;
}
.addressList ul li p:last-child {
    margin-bottom: 10px;
}

.action {
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.addressList ul li .action p {
    margin-right: 10px;
    color: #848484;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    margin-bottom: 5px;
}


/* radio */

.round {
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    cursor: pointer;
    outline: none;
  }
  
  .round + .round {
    margin-top: 1em;
  }
  
  .round input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    -moz-appearance: none;
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.05em;
    height: 1.05em;
    border: 0.05em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  
  .round input[type="radio"]::before {
    content: "";
    /* width: 0.65em;
      height: 0.65em;
      -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%); */
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #fff;
    /* Windows High Contrast Mode */
    background-color: #fff;
  }
  
  .round input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  .round input[type="radio"]:checked {
    background-color: #ffb545;
    border: 0.05em solid #ffb545;
  }
  
  .round span {
    font-size: 14px;
    font-weight: 400;
    color: #2a2a2a;
  }
  /* End */
  

.addressList ul li .actions p:not(:first-child) {
    margin-left: 10px;
}
.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loadingPosition {
    position: fixed;
    background: #33333342;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    cursor: default;
    user-select: none;
}

@media only screen and (max-width: 1600px) {
    .rightCartItems h3 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 1200px) {
    .action {
        flex-flow: wrap row;
    }
    .addressList ul li {
        margin-bottom: 20px;
    }
    .rightCartItems h3 {
        font-size: 18px;
    }
}
@media only screen and (max-width: 991px) {
    .tab-content.productDescription .emptyCart p {
        font-size: 20px;
    }
    .rightCartItems h3 {
        font-size: 22px;
    }
    .cartWrapper .rightCartItems {
        width: 35%;
    }
    .cartWrapper .leftCartItems {
        width: 65%;
    }
    .addressList ul li {
        width: 40% !important;
    }
    .rightCartItems h3 {
        font-size: 16px;
    }
}
@media only screen and (max-width: 850px) {
    .rightcartListItem {
        flex-flow: wrap column;
    }
    .rightCartInnerLeftItems {
        width: 100%;
    }
    .rightCartInnerRightItems {
        margin-left: 10%;
    }
    .addressList ul li {
        width: 100% !important;
        margin-left: 0;
    }
}
@media only screen and (max-width: 767px) {
    .cartWrapper .rightCartItems {
        width: 100%;
    }
    .cartWrapper .leftCartItems {
        width: 100%;
    }
    .cartWrapper {
        flex-flow: wrap column;
    }
    .rightcartListItem {
        flex-flow: wrap row;
    }
    .rightCartInnerLeftItems {
        width: 70%;
    }
    .rightCartInnerRightItems {
        margin-left: 0%;
    }
    .rightCartItems h3 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 567px) {
    .rightcartListItem {
        flex-flow: wrap column;
    }
    .rightCartInnerLeftItems {
        width: 100%;
    }
    .rightCartInnerRightItems {
        margin-left: 10%;
    }
}