.productList {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    margin: 20px auto;
    flex-flow: wrap row;
}

.limitedOffer {
    width: 18%;
    margin: 1%;
}

.limitedOffer img {
    /* height: 46vh; */
    height: 310px;
    width: auto;
    max-width: 100%;
}

.groupBanner {
    width: 89%;
    margin: 20px auto;
    cursor: pointer;
    outline: none;
}

.groupBanner img {
    width: 100%;
    margin: 0 auto;
    display: block;
    max-height: 352px;
    border-radius: 12px
}

.browisingHistory{
    width: 88%;
    margin: auto;
}

.productHistory > div .browisingHistory,
.browisingHistory  {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productHistory > div .browisingHistory .detailSection,
.browisingHistory .detailSection {
    width: 30px;
    height: 30px;
    background: #FFB545;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productHistory > div .browisingHistory .detailSection img {
    width: 60%;
}

.browisingHistory h3 {
    font-weight: 600;
    margin: 0;
    position: relative;
    width: max-content;
}

.browisingHistory h3:before {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #ffb545;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.productHistory {
    width: 90%;
    margin: auto;
}

.productHistory .productList > div {
    width: 18%;
    margin: 0 1% 2% 1%;
    min-height: 350px;
}

.productHistory .productList > div .productBoxes {
    width: 100%;
}

.catProduct .slick-slide .product img{
    width: 130px;
    height: 130px;
    border-radius: 9px;
    border: 1px solid #eaeaea;
}

.catProduct .slick-slide .product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap column;
}

.catProduct .slick-slide .product p {
    text-align: center;
    width: 100%;
    word-break: break-all;
    font-size: 13px;
    margin-top: 5px;
}

.productHistory .productList { 
    width: 100%;
}

.productHistory .productList .noProductAvailable { 
    width: 97%;
    margin: 0 auto;
}

.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
}

@media screen and (max-width: 1800px) {
    .limitedOffer img {
        height: 43vh;
    }
}

@media screen and (max-width: 1600px) {
    .limitedOffer img {
        height: 41vh;
    }
}

@media screen and (max-width: 1500px) {
    .limitedOffer img {
        height: 320px;
    }
}
@media screen and (max-width: 1250px) {
    .limitedOffer {
        width: 24%;
    }
    .groupBanner img {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .productList {
        justify-content: flex-start;
    }
    .limitedOffer {
        width: 25%;
        margin: 0 2% 4% 1%;
    }
}

@media screen and (max-width: 992px) {
    .limitedOffer {
        width: 30%;
        margin: 0 2% 4% 1%;
    }
    .catProduct .slick-slide .product {
        width: 100%;
    }
    .productHistory .productList > div {
        width: 23%;
    }
    .offerList {
        flex-flow: wrap row;
    }

    .offerList h6 {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .limitedOffer {
        width: 43%;
    }
    .productHistory .productList>div {
        width: 46%;
        margin: 0px 4% 4% 0;
    }
    .productHistory .productList>div {
        width: 47%;
        margin: 0 3% 3% 0;
    }
    .rightCopyright img {
        display: block;
        padding: 0 20px 20px 20px;
    }
}

@media screen and (max-width: 576px) {
    .limitedOffer {
        width: 90%;
    }
    .limitedOffer img {
        width: 100%;
    }
    .productHistory .productList>div {
        width: 100%;
        margin: 0 0 6% 0;
    }
}