.loading {
  position: fixed;
  top: 0;
  z-index: 9;
  background: #000000d7;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading img {
  animation: l1 1s infinite cubic-bezier(0.5, 300, 0.5, -300);
}

@keyframes l1 {
  50%,
  100% {
    transform: translateY(0.2px);
  }
}

.contentNotAvailable {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
  margin: 30px 0;
}

.contentNotAvailable p {
  margin-top: 20px;
}
.contentNotAvailable button {
  width: auto;
  min-width: 150px;
}

/* pagination */
.paginationBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.paginationBox .pagination li.disabled {
  cursor: default;
  opacity: 0.6;
  
}

.pagination li a {
  padding: 8px 12px;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.paginationBox .pagination li.disabled a {
  cursor: default;
}

.pagination .active a {
  background-color: #fcca7f;
  color: #fff;
  border-color: #fcca7f;
}

.pagination .break-me a {
  cursor: default;
}

.itemsPerPageDropdown select {
  padding: 7px 12px;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-right: 6px;
}

.itemsPerPageDropdown select:focus {
  outline: none;
}

.itemsPerPageDropdown label {
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
}