.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  height: 20vh;
}

.prdDetailNotFound {
  font-size: 22px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  margin: 20px 0;
}

.prdDetail {
  width: 90%;
  margin: auto;
}

.prdDetail .catProduct:nth-child(1) {
  margin-top: 30px;
}

/* .prdDetail .catProduct .product img {
  width: 110px;
} */

.prdDetail .catProduct .categoryItem {
  width: max-content;
  max-width: 220px;
}

.prdDetail .catProduct .categoryItem p {
  padding-right: 20px;
}

.prdDetail .slick-slide > div > div {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.prdDetail .catProduct .product img {
  width: 130px;
  height: 130px;
  border-radius: 9px;
  border: 1px solid #eaeaea;
}

.prdDetail .productDetailInfo {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 20px;
}

.prdDetail .productDetailInfo .leftDetailInfo {
  width: 35%;
  margin-right: 2%;
}

.prdDetail .productDetailInfo .rightDetailInfo {
  width: 65%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.prdDetail .productDetailInfo .leftDetailInfo .image-gallery-left-nav,
.prdDetail .productDetailInfo .leftDetailInfo .image-gallery-right-nav {
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
}

.prdDetail
  .productDetailInfo
  .leftDetailInfo
  .image-gallery-left-nav
  .image-gallery-svg,
.prdDetail
  .productDetailInfo
  .leftDetailInfo
  .image-gallery-right-nav
  .image-gallery-svg {
  height: 50px;
  width: 50px;
}

.prdDetail .productDetailInfo .leftDetailInfo .image-gallery-fullscreen-button {
  right: 0;
  width: auto;
}

.prdDetail .productDetailInfo .leftDetailInfo .image-gallery-play-button {
  left: 0;
  width: auto;
}

.prdDetail
  .productDetailInfo
  .leftDetailInfo
  .image-gallery-fullscreen-button
  .image-gallery-svg,
.prdDetail
  .productDetailInfo
  .leftDetailInfo
  .image-gallery-play-button
  .image-gallery-svg {
  height: 20px;
  width: 20px;
}

.image-gallery-icon:hover {
  background: transparent;
  color: #fff;
}

.prdDetail .productDetailInfo .leftDetailInfo .image-gallery-thumbnail.active,
.prdDetail .productDetailInfo .leftDetailInfo .image-gallery-thumbnail:hover,
.prdDetail .productDetailInfo .leftDetailInfo .image-gallery-thumbnail:focus {
  outline: none;
  border: 1px solid #fcca7f;
  border-radius: 10px;
  background: transparent;
  overflow: hidden;
}

.prdDetail .productDetailInfo .leftDetailInfo .image-gallery-thumbnail {
  width: 85px;
  height: 85px;
}

.prdDetail .productDetailInfo .leftDetailInfo .image-gallery-thumbnail img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  object-fit: cover;
}

.ribbon::after {
  right: -20px;
}

.prdDetail
  .productDetailInfo
  .leftDetailInfo
  .image-gallery-swipe
  .image-gallery-slides
  .image-gallery-slide {
  height: 460px;
}
.prdDetail
  .productDetailInfo
  .leftDetailInfo
  .image-gallery-content.fullscreen
  .image-gallery-swipe {
  height: 80vh;
}
.prdDetail
  .productDetailInfo
  .leftDetailInfo
  .image-gallery-content.fullscreen
  .image-gallery-swipe
  .image-gallery-slides
  .image-gallery-slide {
  height: inherit;
}

.prdDetail
  .productDetailInfo
  .leftDetailInfo
  .image-gallery-content
  .image-gallery-slide
  .image-gallery-image {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
  border: 1px solid #E3E3E2;
}

.rightDetailInfo .leftBar {
  width: 60%;
}

.rightDetailInfo .rightBar {
  width: 35%;
}

.bestOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftBar h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 30px;
}

.ratingBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0;
}

.ratingBox > span {
  background: #fbb540;
  width: 25px;
  height: 20px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  margin-right: 7px;
  font-size: 12px;
  font-weight: 500;
}

.ratingBox .starRating {
  margin-right: 10px;
}

.reviews {
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.priceSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0;
}

.priceSection .priceList {
  margin-right: 10px;
}

.cartSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: wrap row;
}

.cartError {
  display: block;
  width: 100%;
}

.error {
  margin: 5px 0 0 0px;
  font-size: 12px;
  color: #d52424;
  text-align: left;
}
.cartError.error {
  margin-left: 0;
  text-align: left;
}

.cartInputBox {
  width: 100px;
  border: 1px solid #e4e4e4;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  min-height: 40px;
  margin-right: 10px;
  margin-top: 10px;
}

.cartInputBox.disabled {
  display: none;
}

.cartInputBox input {
  border: 0;
  width: 50px;
  text-align: center;
}

.cartInputBox input:disabled {
  background: transparent;
  user-select: none;
  cursor: default;
}

.cartInputBox input::-webkit-outer-spin-button,
.cartInputBox input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cartInputBox input:focus {
  outline: none;
}

.cartInputBox .increase,
.cartInputBox .decrease {
  cursor: pointer;
  outline: none;
  font-size: 22px;
  font-weight: 500;
  width: 20px;
  text-align: center;
}

.addToCart {
  width: auto;
  text-transform: uppercase;
  background: #f3f3f3;
  border: 1px solid #f3f3f3;
  font-size: 15px;
  padding: 0 25px;
  margin-top: 10px;
  min-height: 40px;
}

.addToCart.disabled {
  display: none;
}

.addToCart:hover,
.addToCart:focus {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.productColor {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
}

.productColor span {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.ProductColorBoxes img.colorImage {
  width: 50px;
  height: 50px;
}

.ProductColorBoxes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: wrap row;
  height: 100%;
  overflow: auto;
  max-height: 260px;
}

.ProductColorBoxes > div {
  border: 1px solid #e3e3e3;
  margin-right: 10px;
  margin-bottom: 10px;
}

.ProductColorBoxes p {
  text-align: center;
  border-top: 1px solid #e3e3e3;
}

.ProductColorBoxes .selected {
  border: 1px solid #e5a23c;
}

.sizeTest {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  position: relative;
  top: 5px;
}

.sizeChart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sizeChart .sizeList {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sizeChart .sizeList li {
  margin-right: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
}

.sizeChart p {
  color: #dd3333;
}

.sizeChart .sizeList li.active {
  color: #fff;
  background: #fcb840;
  border: 1px solid #fcb840;
}

.gaurnteeMessage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 10px 0;
}

.gaurnteeMessage li {
  flex-flow: wrap column;
}

.gaurnteeMessage li p {
  font-size: 12px;
  font-weight: 400;
  color: #303030;
  margin-top: 10px;
}

.gaurnteeMessage li img {
  width: 37px;
  height: 37px;
}

.detailBtn {
  margin: 10px 0;
  width: 90%;
}

.detailBtn button {
  text-transform: uppercase;
  background: #ed9845;
  border-color: #ed9845;
  font-weight: 600;
}

.detailBtn button:hover,
.detailBtn button:focus {
  background-color: #ffb545;
  border-color: #ffb545;
}

.estimatedDelivery {
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.estimatedDelivery h4 {
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: 500;
}

.estimatedDelivery span {
  color: #dd3333;
  display: block;
}

.estimatedDelivery p {
  color: #515151;
  font-size: 14px;
  font-weight: 400;
}

.commitment {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(252 202 127 / 21%);
  width: 100%;
}

.commitment h4 {
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: 500;
}

.commitment ul {
  flex-flow: wrap column;
  justify-content: flex-start;
}

.commitment ul li {
  font-size: 13px;
  font-weight: 400;
  color: #515151;
  position: relative;
  width: 100%;
  padding-left: 20px;
  margin: 0;
}

.commitment ul li:before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #515151;
  position: absolute;
  top: 10px;
  left: 0;
}

.availableOffers {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f6f6f6;
  width: 100%;
}

.availableOffers h4 {
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: 500;
}

.availableOffers ul {
  flex-flow: wrap column;
  justify-content: flex-start;
}

.availableOffers ul li {
  font-size: 13px;
  font-weight: 400;
  color: #515151;
  position: relative;
  width: 100%;
  padding-left: 20px;
  margin: 0;
}

.availableOffers ul li:before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #515151;
  position: absolute;
  top: 10px;
  left: 0;
}

.stockItemLeft {
  width: 100%;
  font-size: 14px;
  color: #dd3333;
  font-weight: 400;
}

.tabs-container {
  width: 100%;
  margin: 0 auto;
}

.productDetailReview {
  width: 100%;
  margin: 0 auto;
}

.leftCartItems .productDetailReview {
  width: 95%;
}

.productDetailReview .tab-content {
  width: 100%;
}

.tabs-buttons {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #e7e7e7;
}

/* Styling for each tab button */
.tabs-buttons button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #333;
  width: 20%;
  min-height: 35px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  position: relative;
}

/* Active tab button styling */
.tabs-buttons button:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 3px;
  margin: 0 auto;
  left: 15px;
}

.tabs-buttons button.active:before {
  background-color: #fbb540;
}

.tabs-content {
  margin: 20px 0;
}

.tab-content {
  padding: 20px;
  /* background-color: #fff;
  border: 1px solid #ddd; */
  border-radius: 4px;
  display: none;
}

.tab-content.productDescription {
  background-color: #f6f6f6;
}

.tab-content.productDescription img {
  width: 100%;
}

.tab-content:target {
  scroll-behavior: smooth;
}
.tab-content.productDescription ul {
  flex-flow: wrap row;
}
.tab-content.productDescription p {
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  line-height: 25px;
}

.additionalInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.additionalInfo .info {
  width: 100%;
}

.additionalInfo .info:not(:last-child) {
  margin-right: 20px;
}

.additionalInfo .info h5 {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

table {
  width: 100%;
  border: 1px solid #d1d1d1;
  border-collapse: collapse;
}

table tr td {
  border: 1px solid #d1d1d1;
  padding: 5px;
  font-size: 15px;
  font-weight: 400;
}

table tr td:first-child {
  width: 40%;
}

.reviewSection {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.reviewSection .leftReviewPart {
  width: 30%;
  background-color: #f6f6f6;
  border-radius: 6px;
  padding: 10px;
  margin-right: 2%;
}

.reviewSection .leftReviewPart h4 {
  font-size: 22px;
  margin: 0;
  font-weight: 500;
}

.reviewSection .rightCommentPart {
  width: 68%;
  background-color: #f6f6f6;
  border-radius: 6px;
  padding: 10px 20px;
}

.reviewSection .leftReviewPart .MuiLinearProgress-root {
  height: 6px;
  border-radius: 6px;
}

.reviewSection .leftReviewPart .MuiLinearProgress-bar {
  background-color: #fbb540;
}

.detailLinearRivewProgress {
  width: 100%;
}

.detailLinearRivewProgress .reviewProgress {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailLinearRivewProgress .reviewProgress span {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  line-height: 30px;
}

.detailLinearRivewProgress .reviewProgress .progressBar span.MuiLinearProgress-root {
  background-color: #D2D2D2;
}
.progressBar {
  width: 80%;
}

.reviewSection .leftReviewPart .ratingCalculateInfo {
  margin: 10px 0;
}

.reviewSection .leftReviewPart .ratingCalculateInfo h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.reviewSection .leftReviewPart .ratingCalculateInfo p {
  color: #454545;
  line-height: 25px;
  font-weight: 400;
}

.productReviewList {
  width: 100%;
}

.productReviewList h4 {
  font-size: 22px;
  margin: 0;
  font-weight: 500;
}

.reviewHeight {
  width: 100%;
  max-height: 390px;
  overflow: auto;
}
.productReviewList .reviewComments {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* border-bottom: 2px solid #dbdbdb; */
  box-shadow: 0px 1px 2px 0 #dbdbdb;
  padding: 2px;
}

.productReviewList .reviewComments .userImage {
  margin-right: 10px;
}

.productReviewList .reviewComments .userName,
.productReviewList .reviewComments .rateusername {
  font-size: 15px;
  font-weight: 500;
}

.productReviewList .reviewComments .reviewRightomments p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
}

.reviewed_image {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: wrap row;
}

.reviewed_image img {
  margin-right: 20px;
  width: 150px;
  height: 100px;
  border: 1px solid #b5b5b5;
  margin-bottom: 10px;
  padding: 5px;
}

.productReviewBtn button {
  border: 1px solid #888888;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  margin: 10px auto;
  text-align: center;
  display: block;
}

.productReviewBtn button:hover,
.productReviewBtn button:focus {
  border-color: #e5a23c;
  background-color: #e5a23c;
}

.productReviewBtn button {
  width: 100%;
}

.product_review_form {
  margin: 0;
}

.product_review_form h4 {
  font-size: 22px;
  margin: 0 0 20px 0;
  font-weight: 500;
}

.product_review_form .box .form-control {
  max-width: 100%;
  width: 95%;
  margin-bottom: 20px;
}

.product_review_form .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product_review_form .box.images {
  flex-flow: wrap row;
}

.product_review_form .box.rating {
  flex-flow: wrap column;
  align-items: flex-start;
  justify-content: flex-start;
}

.product_review_form .box label {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}

.product_review_form .box .starRating .star {
  font-size: 1.8rem;
}

.product_review_form .box input {
  border-radius: 30px;
  border: 1px solid #d1d1d1;
  height: 50px;
  padding: 2px 20px;
  background-color: #fff;
  width: inherit;
}

.product_review_form .box input:focus,
.product_review_form .box input:focus-visible,
.product_review_form .box input:focus-within,
.product_review_form .box.full .form-control textarea:focus {
  outline: none;
}

.product_review_form .box.full .form-control {
  width: 100%;
}

.product_review_form .box.full .form-control textarea {
  resize: none;
  border: 1px solid #d1d1d1;
  height: 70px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #fff;
  width: 97%;
  color: #646464;
}

button.review {
  max-width: 200px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.product_review_form .box.full .form-control .selectFileBox {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 0;
  margin-right: 10px;
  overflow: hidden;
}

.product_review_form .box.full .form-control .selectFileBox img {
  width: 100%;
  height: 100%;
}

.product_review_form .box.full .form-control.select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: wrap row;
}

.product_review_form .box.full .form-control .selectFileBox input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.product_review_form .box .form-control p.error {
  margin: 5px 0 0 20px;
  font-size: 12px;
  color: #d52424;
}

.allcategory h3 {
  font-weight: 500;
  position: relative;
  margin: 0;
  font-size: 22px;
  width: max-content;
}

.allcategory h3:before {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #ffb545;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.detailProductContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: wrap row;
  margin: 10px 0 30px 0;
  width: 90%;
  margin: 0 auto;
}

.detailProductContent img {
  margin: 10px;
  width: 100%;
  max-width: 100%;
}

.detailProductContent img.prd-small {
  width: 31%;
}

.whislistBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.whislistBox img {
  margin: 0 5px;
}

.prdDetail .productHistory {
  width: 100%;
}

.productHistory.allcategory .productList {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: wrap row;
}

.prdDetail .productHistory.allcategory .productList p {
  margin-top: 20px;
}

.productHistory.allcategory .productList > div {
  margin: 2% 2% 2% 0;
  width: 18%;
}
.productHistory.allcategory .productList > div .productBoxes {
  width: 100%;
}

.listPageCategoryItems .catProduct .categoryItem img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.listPageCategoryItems .catProduct .categoryItem p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.prdDetail .listPageCategoryItems .catProduct .categoryItem {
  width: 100%;
}

.prdDetail .slick-slide > div > div p {
  width: 100%;
  word-break: break-word;
  margin-top: 5px;
}

.priceSection .discountLabel {
  background: #DD3333;
  border-radius: 5px;
  padding: 0 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.bestOption .ribbon {
  padding: 0 10px;
  width: max-content;
}

.baseAlignItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap row;
}

.imageLoader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageLoader span.MuiCircularProgress-root {
  width: 25px !important;
  height: 25px !important;
  color: #f6aa37;
}

.product_review_form .starRating {
  pointer-events: auto;
}

.wishlistLoadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  user-select: none;
  background: rgb(51 51 51 / 67%);
  z-index: 99;
  top: 0;
  left: 0;
}

.reviewHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap row;
}

.reviewHeader .paginationBox {
  margin-top: 20px;
}


@media only screen and (max-width: 1300px) {
  .leftBar h1 {
    font-size: 21px;
  }
}

@media only screen and (max-width: 1100px) {
  .productHistory .productList > div {
    width: 28%;
    margin: 0 4% 3% 0%;
  }
  .productDetailReview .tabs-buttons button {
    width: 25%;
  }
  .productHistory.allcategory .productList > div {
    margin: 2% 2% 2% 0;
    width: 23%;
  }
  .leftBar h1 {
    font-size: 19px;
  }
}

@media only screen and (max-width: 991px) {
  .leftBar h1 {
    font-size: 21px;
  }

  .prdDetail .productDetailInfo {
    flex-flow: wrap column;
  }

  .prdDetail .productDetailInfo .leftDetailInfo {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .prdDetail .productDetailInfo .rightDetailInfo {
    width: 100%;
  }

  .allcategory h3 {
    font-size: 22px;
  }

  .productHistory .productList > div {
    width: 30%;
  }

  .reviewSection .rightCommentPart {
    width: 64%;
  }

  .reviewSection .leftCommentPart {
    width: 35%;
  }

  .detailLinearRivewProgress .reviewProgress {
    flex-flow: wrap column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .progressBar {
    width: 100%;
  }

  .detailProductContent img.prd-small {
    width: 30%;
  }
  .reviewSection {
    flex-flow: wrap row;
  }
  .reviewSection .leftReviewPart,
  .reviewSection .rightCommentPart {
    width: 100%;
    margin-bottom: 20px;
  }
  .reviewSection .rightCommentPart {
    order: 1;
  }
  .product_review_form .box .form-control {
    width: 100%;
  }
  .product_review_form .box.full .form-control {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .tabs-buttons button {
    flex: 1;
  }

  .prdDetail .productDetailInfo .rightDetailInfo {
    flex-flow: wrap column;
  }

  .rightDetailInfo .leftBar,
  .rightDetailInfo .rightBar {
    width: 100%;
  }

  .additionalInfo {
    flex-flow: wrap column;
  }

  .additionalInfo .info {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .reviewSection {
    flex-flow: wrap column;
  }

  .reviewSection .leftReviewPart {
    width: 100%;
    order: 2;
  }

  .reviewSection .rightCommentPart {
    width: 100%;
    order: 1;
  }

  .product_review_form .box {
    flex-flow: wrap column;
  }

  .product_review_form .box .form-control {
    width: 100%;
  }

  .product_review_form .box.full .form-control {
    width: 100%;
  }

  .detailProductContent img.prd-small {
    width: 28%;
  }
  .productHistory .productList > div {
      width: 46%;
  }
  .image-gallery-thumbnails {
    margin: 20px 0 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .reviewForm .box {
    flex-flow: wrap column;
  }

  .reviewForm .box .form-control {
    width: 100%;
  }

  .reviewForm .box input,
  .reviewForm .box.full .form-control textarea {
    width: 90%;
  }

  .productHistory .productList > div {
    width: 45%;
    margin: 0 2% 2% 0;
  }
  .productHistory .productList > div {
      width: 100%;
      margin: 0 0 2% 0;
  }
  .detailProductContent img.prd-small,
  .detailProductContent img {
      width: 100%;
      margin: 0 0 20px 0;
  }
  .productDetailReview .tabs-buttons button {
    font-size: 16px;
  }
  .prdDetail .productHistory .paginationBox {
    flex-flow: wrap row;
    justify-content: flex-start;
  }
  .prdDetail .productHistory .paginationBox .itemsPerPageDropdown {
    margin-bottom: 10px;
  }
  .prdDetail .productHistory .paginationBox .pagination {
    flex-flow: wrap row;
    justify-content: flex-start;
  }
  .prdDetail .productHistory .paginationBox .pagination li {
    margin-bottom: 10px;
  }
  .productHistory.allcategory .productList > div {
    margin: 2% 2% 2% 0;
    width: 48%;
  }
}

@media only screen and (max-width: 489px) {
  .productHistory .productList > div {
    width: 100%;
    margin: 0;
  }
  .productHistory.allcategory .productList > div {
    margin: 2% 0%;
    width: 100%;
  }
  .leftBar h1 {
    font-size: 17px;
  }
}
