.searchProduct {
    width: 90%;
    margin: 0 auto;
}

.searchProduct .productList .productBoxes {
    width: 100%;
    min-height: 350px;
}

.searchProduct .productList > div {
    width: 23%;
    margin: 0 2% 2% 0;
}

.searchProduct h2 {
    font-weight: 500;
    position: relative;
    margin: 20px 0 0 0;
}

.searchProduct .productList {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: wrap row;
}

@media screen and (max-width: 767px) {
    .searchProduct .productList > div {
        width: 47%;
        margin: 0 3% 3% 0;
    }
}

@media screen and (max-width: 576px) {
    .searchProduct .productList > div {
        width: 100%;
        margin: 0 0% 3% 0;
    }
    .paginationBox {
        flex-flow: wrap column;
    }

    .paginationBox .itemsPerPageDropdown {
        margin-bottom: 20px;
    }

    .searchProduct h2 {
        text-align: center;
    }
}