.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap column;
    margin: 30px 0;
}

.notFound h4 {
    font-size: 40px;
    color: #FFB545;
}

.notFound img {
    width: 50%;
    margin: auto;
}

.notFound op {
    font-size: 16px;
    color: #666666;
}