.loading {
  position: fixed;
  top: 0;
  z-index: 9;
  background: #000000d7;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading img {
  animation: l1 1s infinite cubic-bezier(0.5, 300, 0.5, -300);
}

@keyframes l1 {
  50%,
  100% {
    transform: translateY(0.2px);
  }
}

.contentNotAvailable {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
  margin: 30px 0;
}

.contentNotAvailable p {
  margin-top: 20px;
}
.contentNotAvailable button {
  width: auto;
  min-width: 150px;
}
